@tailwind base;
@tailwind components;
@tailwind utilities;


svg{
  width: 34px;
}

.logo{
  display: flex;
  align-items: last baseline;
}

a span {
  @apply text-primary;
  font-weight: bold;
  font-size: 24px;
}